.*
*.xcuserdata*
.gitattributes
*xcuserdata*
*.bcsymbolmap
Carthage/*
Carthage/
.vscode/
node_modules
package-lock.json
Gemfile.lock
Libs/*-dev

# proto
# im-protobuf/

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store
tags
.idea/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
